.nav {
  height: 50px;
  width: 100%;
  background-color: #76b3c8;
  position: relative;

  .nav-header {
    display: inline;

    form {
      display: inline-block;
    }
    .hand-icon {
      width: 50px;
      height: 45px;
    }

    .search-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 232px;
      top: 13px;
    }

    input {
      height: 40px;
      background-color: #68aac4;
      color: white;
      border: none;
      position: absolute;
      top: 5px;
      left: 73px;
      width: 190px;
      padding: 0px 10px;
      font-size: 16px;
      padding-right: 33px;
      &::placeholder {
        color: white;
      }
    }
  }
  .nav-btn,
  .desc {
    display: none;
  }
  .favorites {
    display: inline;
    float: right;

    .counter {
      position: absolute;
      right: 9px;
      top: 5px;
      background-color: #9cb5c6;
      color: white;
      border-radius: 50%;
      height: 15px;
      width: 18px;
      font-size: 13px;
      padding: 1px 0 20px 6px;
      font-weight: bold;
    }

    .heart-icon {
      height: 30px;
      margin: 10px 12px 0 0;
    }
  }
  #nav-check {
    display: none;
  }
}

@media (max-width: 801px) {
  .nav {
    .nav-header .hand-icon {
      display: none;
    }
    .nav-btn {
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .nav-btn label {
      cursor: pointer;
      span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
    }

    .desc {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #527d8c;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      color: white;
      text-align: center;
      h3 span {
        font-weight: 100;
      }
      a {
        display: block;
        width: 100%;
      }
    }
    #nav-check {
      &:not(:checked) ~ .desc {
        height: 0px;
      }
      &:checked ~ .desc {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }
  }
}
