.song-item {
  flex-basis: 100%;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 2px 3px 4px 0px#D5D5D5;

  .heart {
    display: inline-block;
    float: right;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .titles {
    margin-top: 20px;
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .image-cont {
    text-align: center;
    img {
      width: 40%;
    }
  }
}

@media (min-width: 641px) {
  .song-item {
    flex-basis: 48%;

    .image-cont {
      img {
        width: 70%;
      }
    }
  }
}

@media (min-width: 801px) {
  .song-item {
    flex-basis: 32%;
  }
}

@media (min-width: 1025px) {
  .song-item {
    flex-basis: 24%;
  }
}
